<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HRISCapsu.Properties.Settings.HRISConnectionString"
        connectionString="server=localhost;user id=root;database=hriscapsu"
        providerName="MySql.Data.MySqlClient" />
    <add name="HRISConnection" connectionString="datasource=localhost;database=hriscapsu;port=3306;username=root" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>